<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta HTTP-EQUIV="EXPIRES" CONTENT="-1">
	<title>Computing Science 309</title>

	<script language="javascript" src="./js/model.js"></script>
	<script language="javascript" src="./js/controller.js"> </script>

	<style>
	</style>
</head>

<body onload="setupGame(); startGame();">
	<center>
		<div class="title">
			<h1>Fortnite 2d</h1>
		</div>
		<div class="container">
			<canvas id="stage" width="600" height="600"> </canvas>
			<canvas id="minimap" width="200" height="200"></canvas>
			<canvas id="info"></canvas>

			<img id="wall" src="./images/icons/wall.jpeg" style="display:none" />
			<img id="pond" src="./images/icons/pond.jpg" style="display:none" />
			<img id="devil" src="./images/icons/devil.png" style="display:none" />
			<img id="rifle" src="./images/icons/rifle.jpg" style="display:none" />
			<img id="shotgun" src="./images/icons/shotgun.png" style="display:none" />
			<img id="tree" src="./images/icons/tree_2.png" style="display:none" />
			<img id="jetpack" src="./images/icons/jetpack.png" style="display:none" />
			<img id="rocket" src="./images/icons/rocket.png" style="display:none" />
			<img id="box" src="./images/icons/package.png" style="display:none" />
			<img id="wire" src="./images/icons/wire.jpg" style="display:none" />
			<img id="healthBox" src="./images/icons/health.png" style="display:none" />
		</div>
	</center>
	<link rel="stylesheet" type="text/css" href="./css/index.css" />
</body>

</html>
